<section class="hero">
  <div class="logo"></div>
  <h1>OPN<span>.bio</span></h1>
  <p>Your open-source bio page.</p>
</section>

<style>
  .hero {
    padding: 120px 0 60px;

    & .logo {
      width: 20px;
      height: 20px;
      margin-bottom: 40px;
      background: linear-gradient(45deg, #ff5f6d, #ffc371);
      border-radius: 50%;
    }

    & h1 {
      margin-bottom: 4px;
      font-weight: 500;
      color: var(--color-foreground);

      & span {
        display: inline-block;
        margin-left: 2px;
        font-family: var(--font-mono);
        font-size: var(--font-xsm);
        font-weight: 400;
        color: var(--color-foreground-subtler);
      }
    }

    & p {
      color: var(--color-foreground-subtle);
    }
  }
</style>
