---
import Section from './section.astro';
---

<Section title="What is OPN?">
  <p class="content">
    <strong>OPN</strong> is an open-source bio page that lives on your GitHub. Instead
    of creating yet another account, all you need is a public repo named
    <strong>.opn</strong> with a simple <code>bio.json</code> file inside. From there,
    your profile is generated automatically and stays fully in your control. (Example:
    <a class="mono" href="https://opn.bio/@remvze">opn.bio/@remvze</a>)
  </p>
</Section>

<style>
  .content {
    line-height: 1.7;
    color: var(--color-foreground-subtle);

    & strong {
      font-weight: 500;
      color: var(--color-foreground);
    }

    & code {
      display: inline-block;
      padding: 2px 8px;
      margin: 0 2px;
      font-family: var(--font-mono);
      font-size: var(--font-xsm);
      color: var(--color-foreground);
      background: var(--color-neutral-100);
      border-radius: 8px;
      box-shadow: inset 0 -1px 0 var(--color-neutral-300);
    }

    & a {
      color: var(--color-foreground);
      text-decoration: underline dotted #ff6b6b;
      text-underline-offset: 4px;

      &.mono {
        font-family: var(--font-mono);
        font-size: var(--font-sm);
      }
    }
  }
</style>
